@font-face {
    font-family: "Google Sans";
    src: url('font/GoogleSans-Bold.ttf');
 }

 .bg-guest{
   background-color: #FF7408;
 }

 .full{
   background-color: #fff;
 }

.text-login{
    color: rgb(112, 84, 62);
    font-weight: 400;
}

.text-reset{
    color: #FF7408;
    font-weight: 400;
    font-family: 'Google Sans', Arial, sans-serif;
}

.text-signup{
    color: #FF7408;
    font-weight: 400;
    font-family: 'Google Sans', Arial, sans-serif;
}

.box{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 400;
    width: 566px;
    height: 597px;
    position: absolute;
    top:0; left: 0; right: 0; bottom: 0;
    justify-content: center;
    margin: auto;
    font-family: 'Google Sans', Arial, sans-serif;
}

.box-register{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 400;
    width: 566px;
    height: 663px;
    position: absolute;
    top:0; left: 0; right: 0; bottom: 0;
    justify-content: center;
    margin: auto;
    font-family: 'Google Sans', Arial, sans-serif;
}

.content{
    width: 319px;
    height: 523px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.content-register{
    width: 295px;
    height: 596px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    color: #FF7408;
    opacity: 1;
    display: block;
    width: 294px;
    height: 48px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #FF7408;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    font-family: 'Google Sans', Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-login-register{
    width: 294px;
    height: 48px;
    color: #fff;
    font-weight: 700;
    background-color: #FF7408;
    border-color: #FF7408;
  }

  .btn-primary:hover {
    opacity: 0.5;
    color: #fff;
    background-color: #FF7408;
    border-color: #FF7408;
  }

  .btn-outline:hover {
    opacity: 0.5;
    text-emphasis-color: #FF7408;
    background-color: #FF7408;
    border-color: #FF7408;
  }

  .btn-submit{
    background-color: #FF7408;
    width: 88px;
    height: 36px;
    color: #fff;
    border-color: #FF7408;

  }

  .btn-outline-medium {
    border-radius: 10px;
    width: 134px;
    height: 36px;
    font-size: 14px;
    border-width: 2px;
    color: #FF7408;
    background-color:#fff;
    border-color: #FF7408;
  }

  .btn-outline-small {
    border-radius: 10px;
    width: 88px;
    height: 36px;
    color: #FF7408;
    border-width: 2px;
    background-color:#fff;
    border-color: #FF7408;
  }

  .btn-link {
    font-weight: 400;
    color: #FF7408;
    font-size: small;
    text-align-last: right;
  }

  .btn-link-other {
    font-weight: 400;
    align-items: center;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg-light {
    background-color:#fff;
  }

  .navbar-default .navbar-nav .nav-link{
    color:#FF7408;
    justify-content: center;
  }

  .navbar-nav{
    justify-content: center;
    align-content: center;
  }

  .sr-only{
    width: 100%;
  }

  .nav-item{
    display: inline-block;
    height: 26px;
    color: #FF7408;
    align-items: center;
    margin-right: 50px;
    margin-top: 16px;
    padding: initial;
  }

  .kelasaya{
    margin-top: 12px;
    margin-left: 16px;
    width: 80px;
    align-items: center;
    vertical-align: middle;
  }

  .navbar-light .navbar-brand {
    color:#FF7408;
  }

  .navbar-brand {
    display: block;
    padding-left: 24px;
    align-content: center;
  }

  .navbar-brand1 {
    margin-left: 4px;
    margin-right: 24px;
  }

  .formbar{
    margin-left: -36px;
  }

  .search-bar{
    width: 461px;
    height: 45px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 12px;
    margin-top: 4px;
    border-color: #FF7408;
    color: #FF7408;
  }

  .search-bar1{
    width: 481px;
    height: 45px;
    border-radius: 10px;
    margin-left: 32px;
    margin-top: 14px;
    padding-left: 18px;
    border-color: #FF7408;
    color: #FF7408;
  }

  .search-btn{
      width: 36px;
      height: 36px;
      background-color: #fff;
      margin-left: 425px;
      margin-top: -72px;
  }

  .css-searchbar{
    margin-left: 6px;
    margin-top: 12px;
  }

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
}

  .search-btn1{
    width: 36px;
    height: 36px;
    background-color: #fff;
    margin-left: 470px;
    margin-top: -42px;
}

  .btn-dash{
      width: 123px;
      height: 45px;
      border-radius: 10px;
      color: #fff;
      background-color:#FF7408;
      border-color: #FF7408;
      margin-left: 12px;
      margin-right: 12px;
  }

  .btn-join{
    width: 123px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    background-color:#FF7408;
    border-color: #FF7408;
    margin: auto;
  }

  .btn-dash-outline{
    width: 123px;
    height: 45px;
    color: #FF7408;
    border-radius: 10px;
    background-color:#FFF;
    border-color: #FF7408;
    margin-left: 32px;
    margin-right: 12px;
  }

  .nav-link{
    color: #FF7408;
  }
  
  .navbar-nav .dropdown-menu {
    position: fixed;
    color: #FF7408;
  }

  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .kelas-baru{
    width: 1110px;
    height: 1200px;
    background-color: #fff;
    color: #FF7408;
    align-items: center;
    justify-content: center;
  }

  .box-kelas{
    display: flex;
    width: 900px;
    height: 350px;
    border-radius: 10px;
    font-weight: 400;
    background-color:#FF7408;
    color: #fff;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 120px;
    top:0; left: 0; right: 0;
    font-family: 'Google Sans', Arial, sans-serif;
  }

  .box-2{
    align-items: center;
    justify-content: center;
    background-color: #FF7408;
    margin-top: 500px;
    font-family: 'Google Sans', Arial, sans-serif;
  }

  .box-3{
    align-items: center;
    justify-content: center;
    background-color: #FF7408;
    margin-top: 880px;
    font-family: 'Google Sans', Arial, sans-serif;
  }

  .cover-mapel{
    width: 850px;
    height: 300px;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
  }
  
  .mapel-judul{
    width: 175px;
    height: 300px;
    font-weight: 600;
    font-family: 'Google Sans', Arial, sans-serif;
    background-color:transparent;
    position: absolute;
    border-radius: 10px;
    color: #fff;
    margin-left: 20px;
    margin-right: 12px;
  }

  .mapel-1{
    width: 200px;
    height: 300px;
    background-color:#fff;
    position: absolute;
    border-radius: 10px;
    margin-left: 200px;
    font-family: 'Google Sans', Arial, sans-serif;
  }

  .mapel-2{
    width: 200px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    margin-left: 425px;
    font-family: 'Google Sans', Arial, sans-serif;
  }

  .mapel-3{
    width: 200px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    margin-left: 650px;
    font-family: 'Google Sans', Arial, sans-serif;
  }

  .footer{
    width: 1110px;
    height: 50px;
    background-color:#FF7408;
    margin-top: 25px;
    text-align: center;
    color: #fff;
    font-family: 'Google Sans', Arial, sans-serif;
  }

  .kotak-mat{
    width: 200px;
    height: 180px;
    background-color:#FFF176;
    justify-content: center;
    border-radius: 10px,10px,0,0;
    
  }

  .kotak-ipa{
    width: 200px;
    height: 180px;
    background-color: #00C853;
    justify-content: center;
    top:0; left:0; right:0; bottom:0;
  }

  .kotak-ips{
    width: 200px;
    height: 180px;
    background-color: #64B5F6;
    justify-content: center;
    top:0; left:0; right:0; bottom:0;
  }

  .kotak-inggris{
    width: 200px;
    height: 180px;
    background-color: navy;
    justify-content: center;
    top:0; left:0; right:0; bottom:0;
  }

  .kotak-fisika{
    width: 200px;
    height: 180px;
    background-color: #AA00FF;
    justify-content: center;
    top:0; left:0; right:0; bottom:0;
  }

  .kotak-tik{
    width: 200px;
    height: 180px;
    background-color: #3F51B5;
    justify-content: center;
    top:0; left:0; right:0; bottom:0;
  }

  .kotak-biologi{
    width: 200px;
    height: 180px;
    background-color: #1DE9B6;
    justify-content: center;
    top:0; left:0; right:0; bottom:0;
  }

  .kotak-bi{
    width: 200px;
    height: 180px;
    background-color: #B71C1C;
    justify-content: center;
    top:0; left:0; right:0; bottom:0;
  }

  .icon{
    width: 75px;
    height: 75px;
    align-items: center;
    background-color: #FFF;
  }

  .content-mapel{
    color: #FF7408;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-weight: 600;
    font-family: "Google Sans", Arial, sans-serif;
  }

  .judul{
    line-height: 0px;
    font-size: large;
    font-family: 'Google Sans', Arial, sans-serif;
  }

  .dropdown-toggle {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  .dropdown-menu-right {
    right: 0;
    left: auto;
    margin-right: 2px;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .nama{
    justify-content: center;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Google Sans', Arial, sans-serif;
    color: #212529;
  }

  .nama1{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 30px;
    font-family: 'Google Sans', Arial, sans-serif;
    color: #212529;
  }

  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

/* halaman edit profil */

/* bagian profil */
.css-tabluar {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  width: 300px;
  border-width: 0pt;
  margin: 0pt;
  padding: 0pt;
  overflow: hidden;
}

/* garis persatuan */
.css-lapisankedua {
  -webkit-box-align: stretch;
  align-items: center;
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  flex-direction: row;
  width: 100%;
  box-sizing: content-box;
  justify-content: space-around;
  margin: 0pt;
  padding: 0pt;
}

.css-lapisanketiga{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  border-width: 0pt;
  border-style: solid;
  margin: 0pt;
  padding: 0pt;
}

.css-boxprofile {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-width: 0pt;
  user-select: none;
  z-index: 1;
  text-align: center;
  min-height: 1.6rem;
  border-bottom-color: #FF7408;
  /* ketebalan garis */
  border-width: 0pt 0pt 0.3rem;
  border-style: solid;
  margin: 0pt;
  padding: 1.6rem 2.4rem;
}

.css-boxprofile:hover{
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0ms ease 0ms;
}

.css-editborder {
  -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    min-height: 0pt;
    min-width: 0pt;
    color: #FF7408;
    user-select: none;
    flex-direction: row;
    border-width: 0pt;
    border-style: solid;
    margin: 0pt;
    padding: 0pt;
}

.css-active-title {
  box-sizing: border-box;
  font-family: "Google Sans";
  font-style: inherit;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  display: block;
  color: #FF7408;
  border-width: 0px;
  font-variant: normal;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* bagian password */
.css-boxpassword {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  border-width: 0pt;
  border-style: solid;
  margin: 0pt;
  padding: 0pt;
}

.css-boxpassword:last-child {
  margin-right: 0rem;
}

.css-lapisankeduaa {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-width: 0pt;
  user-select: none;
  z-index: 1;
  text-align: center;
  min-height: 1.9rem;
  color: #FF7408;
  border-bottom-color: transparent;
  border-width: 0pt 0pt 0.3rem;
  border-style: solid;
  margin: 0pt;
  padding: 1.6rem 4rem;
}

.css-bordernormal {
  -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    min-height: 0pt;
    min-width: 0pt;
    user-select: none;
    flex-direction: row;
    border-width: 0pt;
    border-style: solid;
    margin: 0pt;
    padding: 0pt;
}

.css-title {
  box-sizing: border-box;
  font-family: "Google Sans";
  font-style: inherit;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color:#FF7408;
  font-size: 16px;
  font-weight: 400;
  display: block;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

/* halaman password */
/* bagian profil */
.css-tabluar1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  width: 150px;
  border-width: 0pt;
  margin: 0pt;
  padding: 0pt;
  overflow: hidden;
}

/* garis persatuan */
.css-lapisankedua1 {
  -webkit-box-align: stretch;
  align-items: center;
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  flex-direction: row;
  width: 150px;
  box-sizing: content-box;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  border-width: 0pt;
  border-style: solid;
  margin: 0pt;
  padding: 0pt;
}

.css-lapisanketiga1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  border-width: 0pt;
  border-style: solid;
  margin: 0pt;
  padding: 0pt;
}

.css-boxprofile1 {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-width: 0pt;
  user-select: none;
  z-index: 1;
  text-align: center;
  min-height: 1.6rem;
  color: rgb(96, 105, 127);
  border-bottom-color: transparent;
  border-width: 0pt 0pt 0.3rem;
  border-style: solid;
  margin: 0pt;
  padding: 1.6rem 2.4rem;
}

.css-boxprofile1:hover{
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0ms ease 0ms;
}

.css-bordernormal1 {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  flex-direction: row;
  border-width: 0pt;
  border-style: solid;
  margin: 0pt;
  padding: 0pt;
}

.css-title1 {
  box-sizing: border-box;
  font-family: "Google Sans";
  font-style: inherit;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: #FF7408;
  font-size: 16px;
  font-weight: 400;
  display: block;
  border-width: 0px;
  font-variant: normal;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* bagian password */
.css-boxpassword1 {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  border-width: 0pt;
  border-style: solid;
  margin: 0pt;
  padding: 0pt;
}

.css-boxpassword1:last-child {
  margin-right: 0rem;
}

.css-lapisankeduaa1 {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-width: 0pt;
  user-select: none;
  z-index: 1;
  text-align: center;
  min-height: 1.9rem;
  color: rgb(67, 72, 86);
  border-bottom-color: #FF7408;
  border-width: 0pt 0pt 0.3rem;
  border-style: solid;
  margin: 0pt;
  padding: 1.6rem 2.4rem;
}

.css-changeborder {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  min-height: 0pt;
  min-width: 0pt;
  user-select: none;
  flex-direction: row;
  border-width: 0pt;
  border-style: solid;
  margin: 0pt;
  padding: 0pt;
}

.css-title-active1 {
  box-sizing: border-box;
  font-family: "Google Sans";
  font-style: inherit;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  display: block;
  color: #FF7408;
  border-width: 0px;
  font-variant: normal;
  margin: 0px;
  padding: 0px;
}

.css-btn{
  margin-right: 12px;
}

.css-btn-1{
  margin-left: 12px;
}

::placeholder{
  color: #FF7408;
}

.indexbtn{
  display: flex;
  width: 250px;
  height: 45px;
  padding-right: 10px;
  justify-content: center;
  margin-top: 16px;
  margin-left: 8px;
}

.btnregis{
  text-align: center;
  margin-left: -32px;
  margin-right: 20px;
  width: 140px;
  height: 45px;
}

.btnmasuk{
  text-align: center;
  margin-right: 80px;
  width: 140px;
  height: 45px;
}

.align-middle{
  vertical-align:middle!important
}

.align-bottom{
  vertical-align:bottom!important
}

.align-text-bottom{
  vertical-align:text-bottom!important
}

.align-text-top{
  vertical-align:text-top!important
}

.btbbawah{
  width: 300px;
  height: 36px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.btncancel{
  margin-right: 30px;
}

.btnyes{
  margin-left: 30px;
}